<p id="notice"><%= notice %></p>
<h1>Listing Products</h1>
<div class ="jumbotron">
  <% count = 0 %>
<% @products.each_slice(3) do |products| %>
<div class="container-fluid">
  <div class="row">
        <% products.each do |product| %>
        <% count+=1 %>
        <div class="col-sm-4"><!--Column one--><%= count %>
           <table class = "table table-condensed">
              <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Cost</td>
                <td>Belongs to User</td>
                <td></td>

              </tr>
                
              <tr>
                <td><%= product.name %></td>
                <td><%= product.description %></td>
                <td><%= product.cost %></td>
                <td><%= product.user_id %></td>
                <td><%= link_to 'Show', product %>
                 <% if can? :update, product %><%= link_to 'Edit', edit_product_path(product) %><% end %>
                 <% if can? :destroy, product %> <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %><% end %>
               </td>
              </tr>
    
            </table>

        </div>
        <% end %>      
    
  </div>

</div>









    <% end %>

</div>



<br>
<div>
<%= link_to 'New Product', new_product_path %></div>
